/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #f5f5f5;
  font: 16px Helvetica, Arial, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }

img {
  max-width: 100%;
}

h3,
li,
p { margin: 1.5em 0; }

a {
	color: #40bfb5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


header {
	border-bottom: 1px solid #fff;
	background: #40bfb5; /* Old browsers */
	background: -moz-linear-gradient(top, #40bfb5 0%, #1f7a73 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #40bfb5 0%,#1f7a73 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #40bfb5 0%,#1f7a73 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40bfb5', endColorstr='#1f7a73',GradientType=0 ); /* IE6-9 */
	padding: 5em 3em;
	text-align: center;
}

header h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', 'Helvetica', sans-serif;
	font-size: 3em;
	color: #fff;
}

header p {
	font-size: 1.5em;
}

.content {
	width: 95%;
	max-width: 32em;
	margin: 0 auto;
	padding-bottom: 3em;
	font-size: 1.2em;
	line-height: 1.4em;
}

.scrollable {
	height: 8em;
	padding: 1em 2em 2em;
	overflow-y: scroll;
	border: 1px solid #999;
	box-shadow: inset 0 0.2em 0.5em rgba(0,0,0,.25);
	background-color: rgba(0,0,0,.05);
	color: #4d4d4d;
	font-size: 0.9em;
}

.face {
	display: block;
	width: 6em;
	margin: -3em auto 1.5em;
}
